[submodule "git-repo-skills/anthropics-skills"]
	path = git-repo-skills/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "git-repo-skills/superpowers"]
	path = git-repo-skills/superpowers
	url = https://github.com/obra/superpowers.git
